  @font-face{
    font-family: customFonts;
    src: url(/misc/Raleway-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    div {
        width: 100%;
        height: 100vh;
    } 
    #images {
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .image-container{
      height: fit-content;
      width: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    menu {
  
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10vw;
    }
    .button {
    background-color:rgb(199,0,3);
    font-size: 3vw;
    border-radius: 5vh;
    height: 100%;
    width: 30vw;
    text-align: center;
    border-width: 0.2vw;
    border-color: #AA934D;
    border-style: solid;
  }
  body {
    margin: 0;
    padding: 0;
    
  }
  header {
  background-color:rgb(199,0,3);
  border-radius: 5vh;
  text-align: center;
  font-size: 5vw;
  margin: 1vw;
  width: 70vw;
  border-width: 0.2vw;
  border-color: #AA934D;
  border-style: solid;
  }
  a:link {
    color: #AA934D;
    background-color: transparent;
    text-decoration: none;
    font-family: Algerian;
    padding: 1vw;
  }
  
  a:visited {
    color:#AA934D;
    background-color: transparent;  
    text-decoration: none
    font-family: Algerian;
  }
  
  body {
    background:url(/img/Bakgrund_1683902038-trimmy-Bakgrund.png);
    background-size: 100vw;
  }

  .top {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;

  }
  .textbox{
    display: flex;
    background-color: rgb(199,0,3) ;
    border-radius: 5vh;
    width: 66vw;
    align-items: center;
    border-width: 0.2vw;
    border-color: #AA934D;
    border-style: solid;

  }
  h1{
    padding: 1vw;
    font-size: 6vw;
    text-align: center;
    font-family: Algerian;
    color: #AA934D;
    font-weight: normal;
  }
  p{
    text-align: left;
    font-size: 3vw;
    font-family: Algerian;
    padding: 1vw;
    color: #AA934D;
    
  }
  h3{
    text-align: center;
    font-size: 3vw;
  }
 
.textpicture {
  padding: 1vw;
  width: 40vw;
  height: 40vw;
  border-radius: 5vh;
  
}
.textpicture2 {
  padding: 1vw;
  width: 30%;
  height: auto;
  border-radius: 5vh;
}
.textpicture3 {
  padding: 1vw;
  border-radius: 5vh;
  width: 90%;

}
 
.textbox2{
  margin: 1vw;
  display: flex;
  flex-direction: column;
  background-color:rgb(199,0,3);
  border-radius: 5vh;
  width: 66vw;
  align-items: center;
  border-width: 0.2vw;
  border-color: #AA934D;
  border-style: solid;

}
.review {
  font-size: 2vw;
}
h2 {
  font-size: 3vw;
  font-family: Algerian;
  padding: 1vw;
  text-align: center;
  color: #AA934D;
  font-weight: normal;
}
@media only screen and (max-width: 600px)  {
  .button {
    font-size: 6vw;
    width: 50vw;
  }
  .top {
      display: flex;  
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20vh;
      
  }
  #images {
    height: fit-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   .textpicture2 {
    padding: 1vw;
    width: 60%;
    height: auto;
    border-radius: 5vh;
  }
  .textbox{
    flex-direction: column;
    width: 80vw;
    align-items: center;
  }
  .textbox2{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    background-color:rgb(199,0,3) ;
    border-radius: 5vh;
    width: 80vw;
    align-items: center;
  }
  .textpicture {
    padding: 1vw;
    width: 70vw;
    height: auto;
    border-radius: 5vh;
  }
  .textpicture3 {
    padding: 1vw;
    width: 75vw;
    height: auto;
    border-radius: 5vh;
  }
  h2 {
    padding: 1vw;
    font-size: 8vw;
    text-align: center;
    font-family: Algerian;
  }
  p{
    text-align: left;
    font-size: 3vw;
    font-family: Algerian;
    padding: 1vw;
    color: #AA934D;
    
  menu{
    flex-direction:column;
  }
  .review {
    font-size: 10vw;
  }
}